
/* Handheld-specific styles */

body.draftfeedback {
	margin-left: 0;
}

.draftfeedback-container {
	width: auto;
	padding: 20px;
	position: static;
	left: auto;
	top: auto;
	box-sizing: border-box;
}

.draftfeedback-feedback-form textarea {
	width: 92%;
	padding: 4%;
}

body .draftfeedback-feedback-pulldown {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

body .draftfeedback-feedback-pulldown h3 {
	float: left;
	font-size: 90%;
	font-weight: bold;
	line-height: 1.5;
	margin: 10px 0 0 0;
}

body .draftfeedback-feedback-pulldown .button {
	float: right;
	margin: 6px 0 0 10px;
}